.setting{
    background-color: #F2C9CC;
    justify-content: center;
    text-align: center;
     height:70vh;
    width:52vh;
  
  }#change{
    width:55%;
    padding:20px;
    color: black;
  }
  #views{
   width:55%;
   padding:20px;
   color:black;
  }
  #update{
    width:55%;
   padding:20px;
   color:black;
    
  }.goals{
    display:flex;
    gap:5%;
    margin-top: 4px;
    margin-bottom: 4px;
  }#updated{
    width:30%;
    padding:10px;
    border-radius: 12px;
  }
  
  #goals{
    justify-content:center;
    text-align: center;
    background-color: #F2C9CC;
    height: 50vh;
    width:120vh;
  }
  @media all and(min-width:280px) and(max-width:1024px){
    .setting{
      background-color: #F2C9CC;
      justify-content: none;
      text-align: none;
       height:50px;
      width:80px;
    
    }#change{
      width:10%;
      padding:10px;
      color: black;
    }
    #views{
     width:25%;
     padding:20px;
     color:black;
    }
    #update{
      width:25%;
     padding:10px;
     color:black;
      
    }.goals{
      display:flex;
      gap:2%;
      margin-top: 2px;
      margin-bottom: 2px;
    }#updated{
      width:20%;
      padding:5px;
      border-radius: 10px;
    }
    
    #goals{
      justify-content:none;
      text-align: none;
      background-color: #F2C9CC;
      height: 50px;
      width:120px;
  }
}

 
    