.header{
   display: flex;
   gap: 50px;
   padding: 20px;
   color:white;
    background-color: palevioletred;
    padding:30px 40px;
    text-align: center;
}.Hero{
  background-image: url(images/men.png);
  background-repeat: no-repeat;
  /* width:2000px; */
  height:700px;
 background-size: cover;
 padding-top: 40px;
}.footer{
  display:flex;
  background-color: black;
  color:white;
  gap:14%;
  text-align: center;
  justify-content: center;
  
}.Hero h1{
padding-top: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: xx-large;
color:white;
}a{
  text-decoration: none;
  color: white;
}



.forms{
  text-align: center;
  justify-content: center;
  background-color:#F2C9CC;
   height:70vh;
   width:180vh;
   font-size: larger;
   font-style: italic;
   border-bottom: 1px solid;
}#email{
border-radius: 4px;
width:55%;
padding:15px;
background-color: bisque;
}#lastname{
 border-radius: 4px;
 width:55%;
 padding:15px;
 background-color: bisque;
}#firstname{
  border-radius: 4px;
  width:55%;
  padding:15px;
  background-color: bisque
}#button{
  cursor:pointer;
  background-color: blue;
  color:white;
  width:35%;
  padding:10px;
}#button a{
  color:white;
  text-decoration: none;
}




.sign-in{
  border: 1 solid;
  background-color:#F2C9CC;
  height: 70vh;
  width:180vh;
  justify-content: center;
  border-radius: 10px;
  bottom: 2px;


}.signed-in{
 text-align: center;
 justify-content: center;
 font-size: medium;
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}#username{
  border-radius: 12px;
  background-color: bisque;
  padding: 15px;
  width:55%;
  justify-content: center;
  text-align: center;

}#password{
  border-radius: 12px;
  background-color: bisque;
  padding:15px;
  width:55%;
  justify-content: center;
  text-align: center;
}.btn{
  background-color: blue;
  color: brown;
  justify-content: center;
  border-radius: 10px;
  justify-content: center;
  padding:20px;
  width:15%;
}.btn :hover{
  background-color: blue;
  cursor: pointer;
  
}



ul li{
  cursor: pointer;
  position:relative;
  padding:12px 8px 12px 40px;
  background: white;
  font-size: 20px;
  transition: 0.2s;
}
ul li:nth-child(odd){
  background-color: #F2C9CC;
} ul li:hover{
  background: pink;
}ul li.checked{
  background:lightblue;
  color:#fff;
  text-decoration: line-through;
}ul li.checked::before{
  position: absolute;
  border-color:pink;
  border-style:solid;
  top:10px;
  left:16px;
  transform:rotate(45deg);
  height:15px;
  width:7px;

}.close{
  position:absolute;
  right:0;
  top:0;
  padding:12px 16px 12px 16px;
}.close:hover{
  background-color:palevioletred;
  color:white;
}
#myInput{
 margin:0;
 border:none;
 border-radius: 0;
 width:75%;
 padding:10px;
 float:left;
 font-size:16px;
}.addBtn{
  padding:10px;
  width:5%;
  background-color: blue;
  color:white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.setting{
  background-color: #F2C9CC;
  justify-content: center;
  text-align: center;
   height:70vh;
  width:140vh;
  margin-left: 160px;
  padding: 30px;

}#change{
  width:55%;
  padding:20px;
  color: black;
}
#views{
 width:55%;
 padding:20px;
 color:black;
}
#update{
  width:55%;
 padding:20px;
 color:black;
  
}.goals{
  display:flex;
  gap:5%;
  margin-top: 4px;
  margin-bottom: 4px;
}#updated{
  width:30%;
  padding:10px;
  border-radius: 12px;
}

#goals{
  justify-content:center;
  text-align: center;
  background-color: #F2C9CC;
  height: 50vh;
  width:120vh;
}#Dream{
  color: brown;
  font-family:'Times New Roman', Times, serif;
  padding-top: 30px;
}.mentee{
  width:30%;
  padding:10px;
  border-radius: 12px;
  background-color:blue;
  color:white;
}#Achieve{
  width:55%;
  padding:20px;
  background-color: bisque;
}.mentee a{
  text-decoration: none;
  color:white;
}

.mentorsprofile{
  display:flex;
  background-color:#F2C9CC ;
  gap: 50px;
  color:brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 500px;

  
}.profile img{
  padding-top: 20px;
  padding-left: 20px;
}.profiled{
  color:blue;
}.profily{
  color:brown;
}#home{
  width:70%;
  padding:10px;
  background-color: blue;
  color:white;
}.goal a{
 color:blue;
}#smart{
  color:blue;
}.homego{
  border-radius: 6px;
  padding:12px;
  width:35%px;
  color:white;
  background-color: blue;
}.up{
  border-radius: 4px;
  background-color: blue;
  color:white;
  align-items: center;
  padding: 20px;
  width:12%;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
}.in{
  display:flex;
  padding:15px;
  width:15%;
  background-color: rgb(192, 82, 101);
  color:white;
  margin-left: 45%;
  border-radius: 10px;

}
@media all and(min-width:600px) and (max-width :1024px){
  .header{
    display: wrap;
    gap:10px;
    padding: 8px;
    color:white;
    background-color: blue;
    width:5%;
      background-color: palevioletred;
      padding:5px 5px;
      color:white;
      text-align: none;
      flex-wrap: wrap;
  }.Hero{
    background-image: url(images/men.png);
    background-repeat: no-repeat;
    /* width:2000px; */
    height:100px;
  background-size: cover;
  padding-top: 5px;

  }.footer{
    display:wrap;
    background-color: black;
    color:white;
    gap:10px;
    text-align: none;
    justify-content: none;
    
  }.Hero h1{
  padding-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: none;
  font-size: small;
  color:white;
  }a{
    text-decoration: none;
    color: white;
  }
  
  
  
  .forms{
    text-align: center;
    justify-content: center;
    background-color:#F2C9CC;
     height:30px;
     width:40px;
     font-size: medium;
     font-style: italic;
     border-bottom: 1px solid;
  }#email{
  border-radius: 2px;
  width:10%;
  padding:10px;
  background-color: bisque;
  }#lastname{
   border-radius: 2px;
   width:15%;
   padding:8px;
   background-color: bisque;
  }#firstname{
    border-radius: 2px;
    width:15%;
    padding:10px;
    background-color: bisque
  }#button{
    cursor:pointer;
    background-color: blue;
    color:white;
    width:15%;
    padding:5px;
  }#button a{
    color:white;
    text-decoration: none;
  }
  
  
  
  
  .sign-in{
    border: 1 solid;
    background-color:#F2C9CC;
    height: 20vh;
    width:100vh;
    justify-content: none;
    border-radius: 5px;
    bottom: 2px;
  
  
  }.signed-in{
   text-align: none;
   justify-content: none;
   font-size: medium;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }#username{
    border-radius: 10px;
    background-color: bisque;
    padding: 10px;
    width:25%;
    justify-content: none;
    text-align: none;
  
  }#password{
    border-radius: 10px;
    background-color: bisque;
    padding:10px;
    width:25%;
    justify-content: none;
    text-align: none;
  }.btn{
    background-color: blue;
    color: brown;
    justify-content: center;
    border-radius: 10px;
    justify-content: center;
    padding:10px;
    width:10%;
  }.btn :hover{
    background-color: blue;
    cursor: pointer;
    
  }
  
  
  
  ul li{
    cursor: pointer;
    position:relative;
    padding:1px 1px 1px 4px;
    background: white;
    font-size: 5px;
    transition: 0.2s;
  }
  ul li:nth-child(odd){
    background-color: #F2C9CC;
  } ul li:hover{
    background: pink;
  }ul li.checked{
    background:lightblue;
    color:#fff;
    text-decoration: line-through;
  }ul li.checked::before{
    position: absolute;
    border-color:pink;
    border-style:solid;
    top:10px;
    left:10px;
    transform:rotate(45deg);
    height:10px;
    width:7px;
  
  }.close{
    position:absolute;
    right:0;
    top:0;
    padding:6px 6px 6px 6px;
  }.close:hover{
    background-color:palevioletred;
    color:white;
  }
  #myInput{
   margin:0;
   border:none;
   border-radius: 0;
   width:25%;
   padding:5px;
   float:left;
   font-size:10px;
  }.addBtn{
    padding:10px;
    width:5%;
    background-color: blue;
    color:white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .setting{
    background-color: #F2C9CC;
    justify-content: center;
    text-align: center;
     height:50vh;
    margin-right: 10%;

  
  }#change{
    width:25%;
    padding:10px;
    color: black;
  }
  #views{
   width:25%;
   padding:10px;
   color:black;
  }
  #update{
    width:25%;
   padding:20px;
   color:black;
    
  }.goals{
    display:flex;
    gap:2%;
    margin-top: 4px;
    margin-bottom: 4px;
  }#updated{
    width:10%;
    padding:8px;
    border-radius: 10px;
  }
  
  #goals{
    justify-content:center;
    text-align: center;
    background-color: #F2C9CC;
    height: 50vh;
    width:120vh;
  }#Dream{
    color: brown;
    font-family:'Times New Roman', Times, serif;
    padding-top: 30px;
  }.mentee{
    width:20%;
    padding:10px;
    border-radius: 12px;
    background-color:blue;
    color:white;
  }#Achieve{
    width:25%;
    padding:10px;
    background-color: bisque;
  }.mentee a{
    text-decoration: none;
    color:white;
  }
  
  .mentorsprofile{
    display:flex;
    background-color:#F2C9CC ;
    gap: 50px;
    color:brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 400px;
  
    
  }.profile img{
    padding-top: 10px;
    padding-left: 10px;
  }.profiled{
    color:blue;
  }.profily{
    color:brown;
  }#home{
    width:50%;
    padding:8px;
    background-color: blue;
    color:white;
  }.goal a{
   color:blue;
  }#smart{
    color:blue;
  }.homego{
    border-radius: 6px;
    padding:10px;
    width:20px;
    color:white;
    background-color: blue;
  }.up{
    border-radius: 2px;
    background-color: blue;
    color:white;
    align-items: center;
    padding: 10px;
    width:10%;
    justify-content: none;
    text-align: none;
    padding-left: 10px;
  }.in{
    display:wrap;
    padding:10px;
    width:10%;
    background-color: rgb(192, 82, 101);
    color:white;
    margin-left: 25%;
    border-radius: 5px;
  
}
}







  

