ul li:nth-child(odd){
    background-color: #F2C9CC;
  } ul li:hover{
    background: pink;
  }ul li.checked{
    background:lightblue;
    color:#fff;
    text-decoration: line-through;
  }ul li.checked::before{
    position: absolute;
    border-color:pink;
    border-style:solid;
    top:10px;
    left:16px;
    transform:rotate(45deg);
    height:15px;
    width:7px;
  
  }.close{
    position:absolute;
    right:0;
    top:0;
    padding:12px 16px 12px 16px;
  }.close:hover{
    background-color:palevioletred;
    color:white;
  }
  #myInput{
   margin:0;
   border:none;
   border-radius: 0;
   width:75%;
   padding:10px;
   float:left;
   font-size:16px;
  }.addBtn{
    padding:10px;
    width:5%;
    background-color: blue;
    color:white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
  }
  @media all and(min-width:600px) and(max-width:768px){
    ul li:nth-child(odd){
        background-color: #F2C9CC;
      } ul li:hover{
        background: pink;
      }ul li.checked{
        background:lightblue;
        color:#fff;
        text-decoration: line-through;
      }ul li.checked::before{
        position: absolute;
        border-color:pink;
        border-style:solid;
        top:5px;
        left:10px;
        transform:rotate(45deg);
        height:10px;
        width:5px;
      
      }.close{
        position:absolute;
        right:0;
        top:0;
        padding:10px 12px 5px 5px;
      }.close:hover{
        background-color:palevioletred;
        color:white;
      }
      #myInput{
       margin:0;
       border:none;
       border-radius: 0;
       width:55%;
       padding:5px;
       float:left;
       font-size:10px;
      }.addBtn{
        padding:5px;
        width:3%;
        background-color: blue;
        color:white;
        text-align: center;
        font-size: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.3s;
      }
  }